@use '../../default/base';

.log {
    font-size: 12px;
    display: flex;
    // margin-bottom: 2px;
    // margin-top: 2px;
    & * {
        display: inline-block;
    }
    &__kill {
        display: inline-flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        padding: 3px;
        gap: 4px;
    }
    // &__nickname {
    // }
    &_RO {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &_r {
        justify-content: end;
    }
    &_l {
        justify-content: start;
    }
}

._yellow {
    color: base.$clr-cs-yellow;
}

._blue {
    color: base.$clr-cs-blue;
}

.logs {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid base.$clr-gray_55;
    border-radius: 5px;
    padding: {
        right: 5px;
        left: 5px;
    };
    max-height: 355px;
    background: linear-gradient(to bottom, rgb(39, 39, 39), rgb(55, 55, 55));
    &__bg {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        opacity: 0.4;
        filter: blur(1px);
        & > img {
            height: 100%;
        }
    }
    &__list {
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        z-index: 5;
        width: 100%;
        height: calc(100% + 15px) !important;
        display: flex;
        flex-direction: column;
        gap: 4px;
        overflow: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}