@use '../default/base';

.match {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-width: 1088px;
    border: 1px solid base.$clr-gray_55;
    overflow: hidden;
    & h4._h4_stat {
        width: 100%;
        padding: {
            top: 5px;
            bottom: 5px;
        };
        margin-bottom: 10px;
        margin-top: 10px;
        // margin-top: 15px;
        //! @include base.style-b55; ------------------------------
        background-color: base.$clr-gray_43;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__status {
        position: absolute;
        z-index: 10;
        top: 10px;
        left: 10px;
        //! @include base.style-status; ------------------------------
        border-radius: 6px;
        font-size: 14px;
    }
    &__top {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 0px;
        // padding: 10px;
        gap: 20px;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
        // border: 1px solid base.$clr-gray_55;
        // border-bottom: transparent;
        transition: all .3s, border-bottom 1s;
        &__bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            display: flex;
            & > img {
                position: relative;
                z-index: 1;
                width: 50%;
            }
            & > div._center {
                position: absolute;
                z-index: 2;
                background: linear-gradient(to right, rgba(37, 37, 37, 0.3), rgba(37, 37, 37, 0.90) 40%, rgba(37, 37, 37, 1), rgba(37, 37, 37, 0.90) 60%, rgba(37, 37, 37, 0.3));
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            & > div._bottom {
                position: absolute;
                z-index: 2;
                background: linear-gradient(to bottom, rgba(30, 30, 30, 0), rgba(30, 30, 30, 1));
                height: 200px;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        &__button {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            & > button {

            }
        }
        &__arrow {
            position: absolute;
            z-index: 10;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px;
            width: 40px;
            height: 18px;
            background-color: base.$clr-gray_55;
            border-radius: 5px;
            box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            transition: .2s;
            & > svg {
                transform: rotate(180deg);
            }
            &:hover {
                background-color: rgb(82, 82, 82);
            }
            &:active {
                transform: translateX(-50%) scale(0.9);
            }
        }
    }
    &__stats {
        position: relative;
        z-index: 3;
        background-color: rgb(30, 30, 30);
        // border: 1px solid base.$clr-gray_55;
        // border-top: none;
        padding: 15px;
        padding-top: 5px;
        border-radius: 0 0 15px 15px;
        // width: 100%;
        transition: all .5s;
        max-height: 1800px;
        overflow: hidden;
        & > * {
            transition: .5s;
            max-width: 100%;
        }
        &__line {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        &__playersStat {
            // width: 100%;
            display: flex;
            gap: 10px;
            &__team {
                display: flex;
                flex-direction: column;
                gap: 10px;
                &_right .match__stats__playersStat__player, 
                &_right .match__stats__playersStat__player__nickname, 
                &_right .match__stats__playersStat__player__rating,
                &_right .match__stats__playersStat__player__right,
                &_right .match__stats__playersStat__player__right > div,
                &_right .match__stats__playersStat__head,
                &_right .match__stats__playersStat__head > div {
                    flex-direction: row-reverse;
                }
                &_right .match__stats__playersStat__player__right {
                    padding-left: 5px;
                    padding-right: 0;
                }
            }
            &__head {
                height: 30px;
                display: flex;
                justify-content: space-between;
                padding: 5px;
                background-color: base.$clr-gray_43;
                border: 1px solid base.$clr-gray_55;
                border-radius: 5px;
                & > div {
                    display: flex;
                    gap: 7px;
                }
                & span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    color: #B8B8B8;
                    &._kd {
                        width: 36px;
                    }
                    &._pm {
                        width: 24px;
                    }
                    &._adr {
                        width: 30px;
                    }
                    &._kast {
                        width: 37px;
                    }
                    &._rat {
                        width: 34px;
                    }
                }
            }
            &__player {
                background: linear-gradient(to top, rgb(37, 37, 37), rgb(47, 47, 47));
                // background: rgba(255, 255, 255, 0.1);
                border: 1px solid base.$clr-gray_55;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                overflow: hidden;
                &__nickname {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & > span {
                        font-size: 14px;
                        font-weight: 700;
                    }
                    & > img {
                        height: 14px;
                        border-radius: 3px;
                    }
                }
                &__rating {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & > span {
                        &._value {
                            font-size: 14px;
                            font-weight: 700;
                        }
                        &._key {
                            font-size: 14px;
                            color: #B8B8B8;
                        }
                    }
                }
                &__left {
                    width: 140px;
                    padding: 5px 5px 5px 5px;
                    background: rgba(255, 255, 255, 0.04);
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    border-radius: 5px;
                    &__separator {
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.1);
                        margin: {
                            top: 5px;
                            bottom: 5px;
                        };
                        width: 100%;
                    }
                }
                &__right {
                    padding: 5px 5px 5px 0px;
                    // height: 100%;
                    display: flex;
                    // border-radius: 5px;
                    // background: linear-gradient(to top, rgb(37, 37, 37), rgb(47, 47, 47));
                    & > div {
                        display: flex;
                        gap: 7px;
                        & > span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            font-weight: 700;
                            &._kd {
                                width: 36px;
                            }
                            &._pm {
                                width: 24px;
                            }
                            &._adr {
                                width: 30px;
                            }
                            &._kast {
                                width: 37px;
                            }
                            &._rat {
                                width: 34px;
                            }
                        }
                    }
                }
            }
            &_post &__player {
                transition: .2s;
                cursor: pointer;
                &_b {
                    border-color: base.$clr-cs-blue;
                    pointer-events: none;
                    .match__stats__playersStat__player__left__separator {
                        background-color: base.$clr-cs-blue;
                    }
                }
                &_y {
                    border-color: base.$clr-cs-yellow;
                    pointer-events: none;
                    .match__stats__playersStat__player__left__separator {
                        background-color: base.$clr-cs-yellow;
                    }
                }
                &:hover {
                    transform: scale(1.01);
                    border-color: #808080;
                }
                &:active {
                    transform: scale(0.99);
                }
            }
        }
        &__highlights {
            width: 100%;
            & > h4 {
                margin-bottom: 10px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: base.$clr-gray_43;
                border: 1px solid base.$clr-gray_55;
                border-radius: 5px;
            }
            &__blocks {
                @include base.grid(10px, 2);
                width: 100%;
            }
            &__block {
                width: 100%;
                position: relative;
                z-index: 2;
                font-size: 14px;
                color: #B8B8B8;
                height: 98px;
                // overflow: hidden;
                transition: all .2s,  transform .07s;
                cursor: pointer;
                &__bottom {
                    position: absolute;
                    z-index: 4;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    height: 50px;
                    background: linear-gradient(to top, rgba(37, 37, 37, 1), rgba(37, 37, 37, 0));
                    border-radius: 0 0 5px 5px;
                    transition: .2s;
                }
                &__bg {
                    overflow: hidden;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-color: base.$clr-gray_37;
                    border: 1px solid base.$clr-gray_55;
                    border-radius: 5px;
                    padding: 5px;
                    transition: .2s;
                    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
                }
                &:hover {
                    z-index: 3;
                    transform: scale(1.03);
                }
                &:hover &__bottom{
                    height: 0px;
                    bottom: -20px;
                }
                &:hover &__bg{
                    // top: -10px;
                    // left: -10px;
                    // right: -10px;
                    bottom: -25px;
                    box-shadow: 0 10px 25px 0px rgba(0, 0, 0, 0.6);
                    background-color: base.$clr-gray_47_hover;
                    border-color: rgb(80, 80, 80);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
        }
        &__mvp {
            margin-right: 50px;
            & > h4 {
                margin-bottom: 10px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: base.$clr-gray_43;
                border: 1px solid base.$clr-gray_55;
                border-radius: 5px;
            }
            &__block {
                height: 180px;
                display: flex;
                background-color: base.$clr-gray_43;
                border: 1px solid base.$clr-gray_55;
                border-radius: 5px;
            }
            &__avatar {
                position: relative;
                display: flex;
                align-items: end;
                justify-content: center;
                width: 170px;
                border-right: 1px solid base.$clr-gray_55;
                overflow: hidden;
                & > img {
                    &._avatar {
                        position: relative;
                        z-index: 3;
                        height: 95%;
                    }
                    &._flag {
                        height: 14px;
                        position: absolute;
                        z-index: 5;
                        top: 5px;
                        right: 5px;
                        border-radius: 3px;
                    }
                    &._team {
                        position: absolute;
                        height: 120px;
                        z-index: 1;
                        left: -10px;
                        top: -10px;
                        opacity: 0.8;
                    }
                }
                &__nickname {
                    position: absolute;
                    z-index: 5;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;
                    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
                }
            }
            &__stat {
                position: relative;
                display: flex;
                align-items: end;
                padding: 10px;
                gap: 10px;
                &__block {
                    position: relative;
                    background-color: #CE1515;
                    border-radius: 5px;
                    height: 60%;
                    width: 60px;
                    &__value {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: -20px;
                        left: 0;
                        right: 0;
                        font-weight: 700;
                        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
                    }
                    &__key {
                        font-size: 12px;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        bottom: 10px;
                        left: 0;
                        right: 0;
                        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
                    }
                    &__bg {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        height: 100%;
                        max-height: 79px;
                        background-color: rgba(0, 0, 0, 0.3);
                        border-radius: 0 0 5px 5px;
                    }
                }
                &__avg {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    left: 0;
                    right: -43px;
                    bottom: 0;
                    top: 0;
                    & > div {
                        margin-right: 5px;
                        height: 2px;
                        width: 100%;
                        background-color: #fff;
                    }
                    & > span {
                        font-size: 14px;
                    }
                }
            }
        }
        &__logs {
            position: relative;
            width: 100%;
            overflow: hidden;
            border: 1px solid base.$clr-gray_55;
            border-radius: 5px;
            padding: {
                right: 5px;
                left: 5px;
            };
            max-height: 355px;
            &__bg {
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                left: 0;
                z-index: 1;
                opacity: 0.2;
                & > img {
                    height: 100%;
                }
            }
            &__list {
                position: relative;
                z-index: 5;
                width: 100%;
                height: 355px;
                display: flex;
                flex-direction: column;
                overflow: scroll;
                // padding-top: 3px;
                // padding-bottom: 3px;
                &::-webkit-scrollbar {
                    width: 0;
                }
            }
            &_RO {
    
            }
        }
    }
    &__team {
        position: relative;
        z-index: 5;
        width: 180px;
        height: 195px;
        display: flex;
        justify-content: center;
        align-items: end;
        // flex-direction: column;
        & > img {
            position: absolute;
            top: 0px;
            width: 100px;
        }
        // &__info {
        //     position: absolute;
        //     padding: 5px;
        //     background: linear-gradient(to bottom, #2C2C2C, #222222);
        //     border: 1px solid base.$clr-gray_55;
        //     border-radius: 5px;
        //     left: 0;
        //     right: 0;
        //     bottom: -50px;
        //     &__title {
        //         text-align: center;
        //     }
        //     &__rank {
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;
        //         & > span {
        //             font-size: 14px;
        //         }
        //         & > span._value {
        //             color: #B8B8B8;
        //         }
        //         & > span._key {
                    
        //         }
        //     }
        //     &__separator {
        //         margin-top: 5px;
        //         margin-bottom: 5px;
        //         width: 100%;
        //         background-color: base.$clr-gray_55;
        //         height: 2px;
        //     }
        // }
        &__info {
            width: 100%;
            position: relative;
            left: 0;
            right: 0;
            // bottom: -60px;
            & > div {
                padding: 5px;
                background: linear-gradient(to bottom, #2C2C2C, #222222);
                border: 1px solid base.$clr-gray_55;
                border-radius: 5px;
                box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
                & > .serHov {
                    height: 0;
                    opacity: 0;
                    margin: 0;
                    transition: .2s;
                }
                & > .ratHov {
                    height: 0;
                    opacity: 0;
                    transition: .2s;
                }
                &:hover {
                    & > .serHov {
                        height: 2px;
                        opacity: 1;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    & > .ratHov {
                        height: 16px;
                        opacity: 1;
                    }
                }
            }
            &__separator {
                margin-top: 5px;
                margin-bottom: 5px;
                width: 100%;
                background-color: base.$clr-gray_55;
                height: 2px;
            }
            &__coef {
                position: relative;
                width: 100%;
                padding: 5px;
                background: linear-gradient(to bottom, #2C2C2C, #222222);
                border: 1px solid base.$clr-gray_55;
                border-radius: 5px;
                box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
                margin-top: 5px;
                transition: .2s;
                & > span {
                    color: #8A8A8A;
                    padding-right: 1px;
                }
                & > div {
                    position: absolute;
                    display: none;
                    height: 28px;
                    width: 28px;
                    right: 0;
                    align-items: center;
                    justify-content: center;
                    & > svg {

                    }
                }
                &:hover {
                    border-color: rgb(120, 120, 120);
                }
                &:active {
                    transform: scale(0.95);
                }
                &_close {
                    pointer-events: none;
                    color: #B8B8B8;
                    & > div {
                        display: flex;
                    }
                }
            }
        }
        &__nickname {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > span {
                font-size: 14px;
                font-weight: 700;
                display: block;
            }
            & > img {
                display: block;
                height: 12px;
                border-radius: 2px;
            }
        }
        &__title {
            text-align: center;
        }
        &__rating {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > span {
                font-size: 14px;
            }
            & > span._value {
                color: #B8B8B8;
            }
            & > span._key {
                
            }
        }
        &_active {
            pointer-events: none;
            background-color: base.$clr-gray_55;
        }
        &__player {
            //! @include base.style-b55; -----------------------------------------
            background-color: base.$clr-gray_43;
            // background-color: rgb(44, 44, 44);
            // border: 1px solid rgb(60, 60, 60);
            // border-radius: 5px;
            box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: end;
            justify-content: center;
            position: relative;
            padding-top: 5px;
            cursor: pointer;
            transition: .2s;
            & * {
                cursor: pointer;
            }
            & > img {
                position: relative;
                z-index: 2;
                // width: 90%;
                height: 160px;
            }
        }
    }
    &__center {
        position: relative;
        z-index: 5;
        width: 380px;
        // height: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        &__bottom {
            width: 100%;
        }
        &__tournament {
            font-size: 18px;
            font-weight: 700;
            display: flex;
            align-items: center;
            & > img {
                height: 32px;
                margin-right: 5px;
            }
        }
        &__this {
            font-size: 22px;
            font-weight: 700;
            color: #B8B8B8;
        }
        &__mapNum {
            font-size: 22px;
            font-weight: 700;
            color: #B8B8B8;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
        }
        &__status {
            //! @include base.style-status; -----------------------------------------
            font-size: 14px;
        }
        &__score {
            font-size: 38px;
            font-weight: 700;
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        &__mapName {
            font-size: 22px;
            font-weight: 700;
            margin-top: 5px;
        }
        &__coefs {
            margin-top: 5px;
            display: flex;
            gap: 10px;
        }
    }
    &__roundHistory {
        margin-top: 0px;
        &__line {
            display: grid;
            grid-template-columns: 1fr 2px 1fr;
            gap: 2px;
            &__part {
                display: flex;
                gap: 2px;
                & > div {
                    width: 100%;
                    height: 16px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & > svg {
                        width: 100%;
                        height: 100%;
                        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
                        & > path {

                        }
                    }
                }
                &_yellow > div._active path{
                    fill: base.$clr-cs-yellow;
                }
                &_blue > div._active path{
                    fill: base.$clr-cs-blue;
                }
            }
            &__separator {
                background-color: rgba(255, 255, 255, 0.6);
            }
            &:nth-child(1) &__separator {
                transform: translateY(2px);
            }
            &:nth-last-child(1) &__separator {
                transform: translateY(-2px);
            }
        }
        &__separator {
            height: 2px;
            background-color: rgba(255, 255, 255, 0.6);
            width: 100%;
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
    &__buttons {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 5;
        display: flex;
        // flex-direction: column;
        align-items: end;
        gap: 5px;
        & > button {
            background-color: base.$clr-gray_37;
            border: 1px solid base.$clr-gray_55;
            border-radius: 5px;
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
            padding: 5px;
            cursor: pointer;
            transition: .2s;
            & > svg {
                & > path {
                }
            }
            &._fav {
                height: 36px;
                width: 36px;
                & path {
                    stroke: rgb(150, 150, 150);
                }
            }
            &._stat {
                height: 36px;
                width: 56px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                & path {
                    // fill: rgb(150, 150, 150);
                }
            }
            &:hover {
                border-color: rgb(120, 120, 120);
            }
            &:active {
                transform: scale(0.9);
            }
        }
    }
    &_map &__top__bg {
        display: block;
        & > img {
            width: 100%;
            transform: translateY(-25%);
        }
        & > div {
            position: absolute;
                z-index: 2;
                background: linear-gradient(to bottom, rgba(30, 30, 30, 0), rgba(30, 30, 30, 1));
                height: 200px;
                bottom: 0;
                left: 0;
                right: 0;
        }
    }
    &_map .centerBlock__matchBlock__info__bet {
        margin-top: 10px;
    }
    &_close &__stats{
        max-height: 0px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        top: -4px;
        opacity: 0;
        & > * {
            transform: translateY(-50px);
        }
    }
    &_close &__top{
        // border-radius: 15px;
        // border-bottom: 1px solid base.$clr-gray_55;
    }
    &_close &__top__arrow{
        & > svg {
            transform: skew(0deg);
        }
    }
}