@use '../default/base';

.navigation {
    position: sticky; // See link
    top: 0; //to make it stick to the top of the screen
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: {
        top: 105px;
        right: 20px;
        left: 20px;
    };
    &__search {
        position: relative;
        width: 100%;
        & > input {
            width: 100%;
            background-color: base.$clr-gray_55;
            border-radius: 8px;
            padding: {
                left: 48px;
                top: 15px;
                bottom: 15px;
                right: 48px;
            };
            cursor: text;
            font-size: 16px;
            font-weight: 500;
        }
        & > button {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 48px;
            background: transparent;
            cursor: pointer;
            transition: .2s;
            & > svg {
                transition: inherit;
                & > path {
                    transition: inherit;
                }
            }
            &.search {
                left: 0;
                & > svg {
                    height: 25px;
                    & > path {
                        stroke: rgb(255, 255, 255);
                        stroke-width: 3px;
                    }
                }
            }
            &.close {
                right: 0;
                & > svg {
                    height: 20px;
                    & > path {
                        fill: rgb(170, 170, 170);
                    }
                }
                &:hover {
                    & path {
                        fill: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
    &__games {
        margin-top: 8px;
        width: 100%;
        border-radius: 8px;
        // background-color: base.$clr-gray_37;
        // padding: 8px;
        // border: 1px solid base.$clr-gray_55;
        &__game {
            background-color: base.$clr-gray_37;
            border: 1px solid base.$clr-gray_55;
            border-radius: 9px;
            overflow: hidden;
            // max-height: 1000px;
            // height: 50px;
            margin-bottom: 8px;
            // border: 1px solid rgb(70, 70, 70);
            transition: .4s;
            &__head {
                & > img {
                    height: 100%;
                    margin-right: 10px;
                }
                &__titleGame {
                    margin-right: 7px;
                    font-weight: 700;
                    cursor: pointer;
                }
                &__point {
                    background-color: base.$clr-main-red;
                    font-size: 12px;
                    font-weight: 600;
                    width: 22px;
                    height: 16px;
                    border-radius: 3px;
                    cursor: pointer;
                }
                &__arrow {
                    position: absolute;
                    right: 0;
                    height: 50px;
                    width: 40px;
                    transition: .2s;
                    // & > svg {
                    //     & > path {

                    //     }
                    // }
                }
                &:hover {
                    background-color: base.$clr-gray_55;
                }
            }
            &__tournament {
                border-radius: 5px;
                max-height: 39px;
                margin-right: 6px;
                margin-left: 6px;
                margin-top: 6px;
                margin-bottom: 6px;
                // opacity: 0;
                // visibility: hidden;
                overflow: hidden;
                transition: all .2s,  margin .5s, max-height .5s, padding .5s, opacity .5s;
                &__head {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 6px;
                    padding-right: 6px;
                    height: 39px;
                    transition: .2s;
                    &__left {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        gap: 6px;
                        z-index: 1;
                    }
                    &__click {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 2;
                        cursor: pointer;
                    }
                }
                &__container {
                    padding-left: 5px;
                    padding-right: 5px;
                }
                &__match {
                    height: 40px;
                    background-color: rgb(53, 53, 53);
                    margin-top: 5px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    transition: .2s;
                    &:hover {
                        background-color: rgb(73, 73, 73);
                    }
                    &_active {
                        background-color: rgb(73, 73, 73);
                        cursor: default;
                    }
                }
                &__icon {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &_link {
                        opacity: 0;
                        transform: translateX(10px);
                        transition: .2s;
                        position: relative;
                        z-index: 3;
                        cursor: pointer;
                        width: 30px;
                        height: 30px;
                        border-radius: 5px;
                        transition: .2s;
                        &:hover {
                            filter: brightness(2);
                            background-color: rgba(255, 255, 255, .1);
                        }
                    }
                    & > img {
                        width: 25px;
                    }
                    & > svg {
                        width: 25px;
                        height: 25px;
                        & * {
                            fill: #c8c8c8;
                        }
                    }
                }
                &__title {
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;
                }
                &:hover {
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0 0 1px base.$clr-gray_55;
                }
                &:hover & {
                    &__icon_link {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                    &__head {
                        background-color: base.$clr-gray_55;
                    }
                }
                &_active {
                    max-height: 400px;
                    box-shadow: 0 0 0 1px base.$clr-gray_55;
                    // border: 1px solid rgb(80, 80, 80);
                }
                &_active &{
                    &__icon > svg * {
                        fill: #fff;
                    }
                    &__head {
                        background-color: base.$clr-gray_55;
                    }
                }
            }
            &_active {
                max-height: 1000px;
            }
            &_active &{
                &__head {
                    background-color: base.$clr-gray_55;
                    &__arrow {
                        transform: rotate(180deg);
                    }
                }
                // &__tournament {
                //     max-height: 100px;
                //     margin: {
                //         right: 4px;
                //         left: 4px;
                //         top: 4px;
                //         bottom: 4px;
                //     };
                //     opacity: 1;
                //     visibility: visible;
                // }
            }
            &_closed {
                max-height: 50px;
            }
            &_closed &{
                &__tournament {
                    opacity: 0;
                    visibility: hidden;
                    max-height: 0px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            // &_active &__head {
            //     background-color: base.$clr-gray_55;
            //     &__arrow {
            //         transform: rotate(180deg);
            //     }
            // }
            // &_active &__tournament {
            //     max-height: 100px;
            //     margin: {
            //         right: 4px;
            //         left: 4px;
            //         top: 4px;
            //         bottom: 4px;
            //     };
            //     opacity: 1;
            //     visibility: visible;
            // }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }   
}